<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easemob.veckit">
    <!-- 悬浮窗所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--精准闹钟-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application>
        <!--android:screenOrientation="portrait"-->
        <activity android:name=".CallVideoActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:theme="@style/translucent_style_vec"/>

        <activity android:name=".CloudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ligtht_default_style"/>

        <activity android:name=".BlankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/default_style"/>

        <activity android:name=".CallActivity"
            android:theme="@style/default_style"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".NavActivity"
            android:theme="@style/translucent_style_vec"/>

        <!--android:screenOrientation="portrait"-->
        <activity android:name=".VECKitCalling"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:theme="@style/translucent_style_vec" />

        <activity android:name=".ShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/default_style"/>

        <service android:name=".VideoCallWindowService" />
    </application>
</manifest>